<% if @tasks.present? %>

	<% @tasks.each do |task| %>
		<div class='task-container'>
			<p><%= task[:description] %></p>
			<p class="height-10">
				<span class="left">Posted <%= task[:created_at] %></span>
				<span class="right">User: <%= task[:creator] %></span>
			</p>

			<p class="height-20">
				<span class="right">
				<% if task[:user_like_status] %>
				<span class="like-btn" data-task-id= "<%= task[:id] %>" data-user-id="<%= current_user.id %>"><%= image_tag("like.png")%><span><%= task[:likes_count] %></span></span>
				<% else %>
					<span class="like-btn" data-task-id= "<%= task[:id] %>" data-user-id="<%= current_user.id %>"><%= image_tag("unlike.png") %><span><%= task[:likes_count] %></span></span>
				<% end %>
				<span class="comments-icon"><%= image_tag('comments.png') %><span class=<%="comments_count_#{task[:id]}" %>><%= task[:comments_count] %></span></span>
			</span>
			</p>
    
    <div class='task-comments-container'>
    	<div id=<%= "task-comments-container_#{task[:id]}" %>>
			  <%= render 'comments', comments: task[:comments], task_id: task[:id] %>

			</div>	
		</div>		

		</div>
	<% end %>

<% else %>
	<p> No Tasks added for today <p>
<% end %>

<%= link_to 'Add Task', new_task_path, class: 'action-btn', id: 'add-task-btn' %>